.settings-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 40px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 18px;
}

.settings-list {
  display: flex;
  flex-direction: column;
}

.settings-label {
  margin-bottom: 20px;
}

.settings-input {
  color: #555;
  margin: 20px 0;
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-radius: 18px;
  box-shadow: 0 0 15px 1px #ccc;
  box-sizing: border-box;
}

.settings-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 20%;
  padding: 0 24px;
  margin-top: 10px;
  border: none;
  border-radius: 24px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12);
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #3c4043;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1);
  cursor: pointer;
}

.settings-button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.settings-button:active {
  box-shadow: 0 4px 4px rgba(60, 64, 67, 0.3), 0 8px 12px 6px rgba(60, 64, 67, 0.15);
}

.settings-button:focus {
  outline: none;
  border: 2px solid #4285f4;
}
