.activity {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    padding-bottom: 100px;
    box-sizing: border-box;
  }
  .activity ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
  }

  .activity img {
    cursor: pointer;
  }
  .activity img:hover {
    cursor: pointer;
    filter: invert(60%);
  }
  .activity li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
  }
  .activity li::after {
    content: ",";
  }
  .activity li:last-child::after {
    content: ".";
  }
  .method {
    text-align: center;
    line-height: 1.5em;
    padding: 50px 50px;
    padding-bottom: 30px;
    white-space: pre-line;
    border-radius: 50px;
    text-indent: 20px;
    border-left: 5px solid rgba(217, 216, 217, 0.891);
    border-right: 5px solid rgba(217, 216, 217, 0.891);
  }

  .other {
    text-align: left;
    line-height: 1.5em;
    padding-top: 20px;
    font-weight:500;
  }
  

  .user {
    text-align: right;
    vertical-align: bottom;
    padding: 20px;
    color:chocolate;
  }

  .edit {
    position: absolute;
    top: 30.7%;
    right: 15%;
    width: 35px;
    height: 35px;
  }

  .delete {
    position: absolute;
    top: 30%;
    right: 10%;
  }