.signup {
  color: #555;
  max-width: 980px;
  margin: auto;
  width: 90%; /* use relative units for better responsiveness */
  border: 8px solid rgb(148, 135, 145);
  padding: 20px 100px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 15px 5px #ccc;
}

@media (max-width: 600px) {
  .signup {
    padding: 10px 10px; /* reduce padding on smaller screens */
    border: 4px solid rgb(148, 135, 145); /* reduce border width on smaller screens */
  }
}

.signup label span {
  display: block;
  margin: 30px 0 10px;
}

.signup input {
  border: none;
  outline: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-radius: 18px;
  box-sizing: border-box;
  padding: 8px 18px;  
}

.signup button {
  display: block;
  width: 30%; /* increase the width of the button for better visibility on smaller screens */
  font-size: 1em;
  color: #fff;
  padding: 15px 9px;
  border: 0;
  border-radius: 10px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 30px auto;
}

@media (max-width: 600px) {
  .signup button {
    padding: 10px 5px; /* reduce padding on smaller screens */
  }
}

@media (max-width: 600px) {
  .signup a {
    padding: 10px 5px;
    color: #555;
  }
}
